body{
    background: rgb(89 99 237 / 43%)url(simplon\ document\ css.png);
    background-size: cover;
    background-blend-mode: lighten;
    }

.titre{
    text-align: center;
    color: white;
}

#italique{
    text-align: center;
    color: white;
}

/*menu*/

main{
background-color: #303056;
margin-left: 650px;
margin-right: 650px;
}

/*Nom Mail Age*/

#Nom{
    padding: 30px;
    color: white;
}

#name, #option, #mail, #age{
    border-radius: 5px;
    width: 85%;
    padding: 5px;
    margin-left: 30px;
}

#Mail, #nombre, #Role, #question{
color: white;
padding: 5px;
margin-left: 30px;
}

/*input de type radio*/

#favori, #maybe,#sure{
    margin-left: 40px;
}

#Definitely, #Maybe, #Sure{
    color: white;
    }

/*Menu déroulant*/

#text, #Blanc{
    color: white;
    padding: 5px;
    width: 85%;
    margin-left: 30px;
}

#phrase{
    padding: 5px;
    width: 500px;
}

#check{
    padding: 5px;
    width: 500px;
    margin-left: 30px;
}

/*Checkbox*/

#Front-end, #Back-end, #Data, #Challenges, #Open, #Gitter, #Videos, #City, #Wiki, #Forum, #Additional, #textarea{
    margin-left: 40px ;
}

#Projects, #Back, #Visualization, #challenges, #Source, #Help, #videos, #Meetups, #wiki, #forum, #Courses{
    color: white;
}

/*Textarea*/

#Comments{
    margin-left: 40px;
    color: white;
}

/*Submit*/

#Submit{
    margin-left: 40px;
    width: 500px;
    height: 40px;
    background-color: #59b559;
}


